body {
  margin: 0px;
  max-width: 1920px;
}

header {
  background-color: #FFFFFF;
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  text-align: center;
}

.logo {
  background-color: red;
  display: flex;
}

.search {
  background-color: orange;
  display: flex;
  align-items: center;
  width: 450px;
}

#search-txt {
  border-style: none;
  width: 410px;
}

.acessibilidade {
  display: flex;
  gap: 20px;
}

.account {
  background-color: orange;
  display: flex;
  align-items: center;
  gap: 3px;
}

.cart {
  background-color: green;
  display: flex;
  align-items: center;
}

.v-line {
  margin-top: 20px;
  border: solid 1px white;
  height: 40px;
}

.language {
  background-color: purple;
  display: flex;
}

section {
  background-color: #011627;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 430px;

}

.banner-left {
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.banner-right {
  display: flex;
}