@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: #FFFFFF;
  display: flex;
  height: 80px;
  justify-content: space-evenly;
  text-align: center;
}

.logo {
  display: flex;
}

.search {
  display: flex;
  align-items: center;
  width: 450px;
}

#search-txt {
  box-sizing: border-box;
  border-style: none;
  border-bottom: 1px solid #7A7A7A;
  width: 100%;
  height: 23px;
  background-image: url(/assets/images/icon-search.svg);
  background-repeat: no-repeat;
  background-position: right;
  font-size: 13px;
  color: #7A7A7A;

}

.acessibilidade {
  display: flex;
  gap: 20px;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
}

.account a {
  font-family: 'Ubuntu';
  font-weight: 400;
  font-size: 13px;
  color: #7A7A7A;
  text-decoration: none;
}

.cart {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cart p {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 14px;
  background-color: #2EC4B6;
  color: #FFFFFF;
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 10px;
  padding: 1px;
  border-radius: 100%;
}

.v-line {
  margin-top: 20px;
  border: solid 1px #7A7A7A;
  height: 40px;
}

.language {
  display: flex;
  gap: 25px;
}

article {
  display: flex;
  height: 430px;
}

.banner-left {
  background-color: #011627;
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner-left h1 {
  color: white;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 45px;
  margin: 0px 0px 10px 0px;
}

/* Aqui ficou a dúvida referente ao comportamento da pagina (width - % ou px) */
.banner-right {
  width: 100%;
  background: no-repeat url('/assets/images/banner-right.svg');
  background-size: cover;

}

.background-layer {
  background-color: rgba(0, 90, 85, 0.7);
  height: 100%;
}

section {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.prateleira {
  display: flex;
  flex-direction: column;
}

.prateleira h2 {
  margin-bottom: 5px;
  font-family: 'Ubuntu';
  font-weight: 700;
  font-size: 20px;
  color: #011627;
  margin: 0px;
}

.h-line {
  display: flex;
  border: solid 3px #FF9F1C;
  width: 60px;
  margin-bottom: 20px;
}

.produtos {
  display: flex;
  gap: 100px;
}

.produto-1,
.produto-2,
.produto-3,
.produto-4 {
  display: flex;
  flex-direction: column;
  width: 230px;
  text-align: center;
  padding: 10px;
}

.produto-1:hover,
.produto-2:hover,
.produto-3:hover,
.produto-4:hover {
  background-color: #F2F2F2;
}

.product-img img {
  width: 180px;
}

.rating img {
  width: 20px;
}


.produto-titulo p {
  font-family: 'Ubuntu';
  font-weight: 500;
  font-size: 14px;
  line-height: 13px;
  margin-bottom: 8px;
  color: #7A7A7A;
}

.produto-valor-antigo p {

  font-family: 'Ubuntu';
  font-weight: 400;
  color: #7A7A7A;
  text-decoration: line-through;
  margin: 5px;
}

.produto-valor-novo p {
  font-family: 'Ubuntu';
  font-weight: 500;
  color: #2EC4B6;
  margin: 0px;
  font-size: 25px;
}

.produto-prazo-pagamento p {
  font-family: 'Ubuntu';
  font-weight: 400;
  color: #7A7A7A;
  margin: 5px;
  font-size: 14px;
}

.produto-comprar {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.produto-comprar button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  gap: 10px;
  background-color: #2EC4B6;
  border-radius: 5px;
  border: none;
  font-family: 'Ubuntu';
  font-size: 1.3em;
  font-weight: 500;
  color: #FFFFFF;
}

.produto-comprar a {
  text-decoration: none;
}

.produto-comprar img {
  width: 30px;
}

footer {
  background-color: #011627;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  width: 1172px;
}

.footer-container h2 {
  margin: 30px 0px 15px 0px;
  font-family: 'Ubuntu';
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
}

.informacoes {
  background-color: purple;
  display: flex;
  justify-content: space-between;
}

.localizacao {
  display: flex;
  gap: 30px;
}

.sp h1,
.rj h1 {
  margin: 0px;
  font-family: 'Ubuntu';
  font-size: 1.4em;
  font-weight: 700;
  color: #FFFFFF;
}

.sp p,
.rj p {
  font-family: 'Ubuntu';
  font-size: 1em;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 25px;
  margin: 5px 0px 0px 0px;
}

.contato {
  background-color: #6bf1eb;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contato button {
  background-color: #FF9F1C;
  display: flex;
  gap: 10px;
  border: none;
  border-radius: 5px;
  width: 250px;
  height: 50px;
  align-items: center;
  justify-content: center;

}

.contato img {
  width: 25px;
}

.contato p {
  font-family: 'Ubuntu';
  font-size: 1.2em;
  font-weight: 500;
  line-height: 13.58px;
  text-align: left;
  color: #FFFFFF;

}

.footer-logos {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #ff7171;
}












.footer-end {
  background-color: #2EC4B6;
  width: 100%;
  height: 10px;
  margin-top: 40px;

}